.mainBlock {
    height: 100%;
    display: grid;
    grid-template-columns: 280px auto 240px;
    grid-template-rows: auto 92px;
    font-family: 'Roboto', serif;
}

.playerControllerBlock {
    background-color: #F1F2F3;
    grid-area: 2 / 1 / 3 / 4;
    position: fixed;
    bottom: 0px;
    height: 92px;
    width: 100%;
}