.mainBlock {
    height: 100%;
    display: grid;
    grid-template-columns: 280px auto 280px;
    grid-template-rows: auto 96px;
}

.playerControllerBlock {
    background-color: #F1F2F3;
    grid-area: 2 / 1 / 3 / 4;
}